# Database Configuration
POSTGRES_USER=knights
POSTGRES_PASSWORD=password
POSTGRES_DB=knights_db
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# Server Configuration
SERVER_PORT_1=10001
SERVER_PORT_2=10002

# Write-Behind Configuration
WB_DLQ_BATCH=10
