[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/luajit"]
	path = external/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
	branch = v2.1
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
